.header__main--container {
  background-color: #5659c9;
}

.header--container {
  color: #fff;
  padding: 3rem;
}

.header--container h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.header--container input {
  font-size: 1rem;
  max-width: 750px;
  width: 100%;
  margin-right: 1rem;
  padding: 1rem;
  border: none;
}

.header--container button {
  border: none;
  color: #5659c9;
  border-radius: 2px;
  padding: 1rem;
  font-weight: 800;
  font-size: 1rem;
  text-transform: uppercase;
}

.table__main--container.main--container {
  margin-top: 3rem;
}

.table__main--container table th {
  background-color: #f2f2f2;
  color: #858585;
  padding: 1rem;
  text-align: left;
}

.table__main--container table th:first-child {
  width: 36rem;
}

.table__main--container table td {
  padding: 1rem;
  max-width: 450px;
}

.table__main--container table {
  width: 100%;
}

.table__main--container tbody tr {
  border-bottom: 1px solid #d8d8d8;
}

.table__main--container tbody tr a {
  color: #007eff;
}

@media screen and (max-width: 1060px) {
  .header--container {
    padding: 2rem;
  }
  .header--container input {
    max-width: 65%;
  }
}

@media screen and (max-width: 760px) {
  .table__main--container.main--container {
    overflow: auto;
  }
  .header--container h1 {
    font-size: 2rem;
  }
  .header--container input {
    max-width: 42%;
    font-size: 14px;
    padding: 10px;
  }
  .header--container button {
    font-size: 14px;
    padding: 10px;
  }
}
